*{
    margin: 0;
    padding: 0;
}

header .logo{
    width: 7%;
    position: relative;
    left: 5vw;
}

.navbar .nav{
    padding: 0 5vw 0 0 ;
    position: relative;
    left: 55vw;
    bottom: 5vw;
}
.navbar a{
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
}
.navbar img{
    width: 1%;
}

.head{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 6vw;
    color:#2E3D3D;
    position: relative;
    left: 5.5vw;
}

.ice{
    display: flex;
    padding-bottom: 6vw; ;
   
}
.ice .about {
    padding: 1vw 0;
    width: 25%;
    position: relative;
    left: 5.5vw;
    font-size: .8vw;
    
}
.ice .txt{
    z-index: 2;
}
.ice button{
    border-color: #005469;
    border-width: .15vw;
    border-radius: 5vw;
    padding: 0.5vw 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    position: relative;
    left: 5.5vw;
}
.thumbnail img{
    width: 50vw;
    position: relative;
    right: 10vw;
    z-index: 2;
}

.bglower{
    position: absolute;
    top: 27vw;
    z-index: 1;
    width: 100%;
}
.types {
    width: 80%;
    display: flex;
    padding: 0 10%   
}
.types p{
    font-size: 1vw;
}
.slider{
    width: 2vw;
    padding-left: 2vw;
    position: relative;
    left: 50vw;
}
.line{
    width: 5vw;
    height: 0.1vw;
    position: relative;
    top: 0.5vw;
    padding: 0 1vw;
}
.movie-list{
    padding-top: 1%;
        width: 80%;
        margin: 0 auto;
        display: grid;
        column-gap: 5%;
        grid-template-columns: 16% 16% 16% 16% 16%;
}
.movie{
padding-bottom: 2vw;
padding-left: 1%;
}
.movie-flex{
    width: 100%;
}
.like{
    position: relative;
    bottom: 16.5vw;
    left: 11vw;
    width: 1vw;
}
.movie-name{
    font-family: sans-serif;
    text-align: center;
    font-size: 1vw;
    padding-bottom: 1vw;
}
.genre{
    font-family: sans-serif;
    text-align: center;
    font-size: .8vw;
    color: #8A8A8A;
    padding-bottom: 0.5vw;
}
.movie button{
    background-color: #2E3D3D;
    border-color: #2E3D3D;
    color: white;
    border-width: 0;
    border-radius: 5vw;
    padding: 0.2vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    position: relative;
    left: 2vw;
}
.movie button img{
    width:9%;
}

.back button{
    background-color: #2E3D3D;
    border-color: #2E3D3D;
    color: white;
    margin: 3vw;
    border-width: 0;
    border-radius: 5vw;
    padding: 0.2vw 1vw;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    position: relative;
    left: 43vw;
}
footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 9%;
}
footer p{
    text-align: center;
    padding: 1vw;
    font-size: 1vw;
}






